ci:
    autofix_prs: true

repos:
    - repo: https://github.com/astral-sh/ruff-pre-commit
      rev: v0.14.8
      hooks:
          - id: ruff
            args: [--fix]
          - id: ruff-format

    - repo: https://github.com/pre-commit/mirrors-mypy
      rev: v1.19.0
      hooks:
          - id: mypy
