[tool.poetry]
name = "PyTestArch"
version = "1.2.0"
description = "Test framework for software architecture based on imports between modules"
authors = ["zyskarch <zyskarch@gmail.com>"]
maintainers = ["zyskarch <zyskarch@gmail.com>"]
readme = "README.md"
license = "Apache-2.0"
documentation = "https://zyskarch.github.io/pytestarch/"
repository = "https://github.com/zyskarch/pytestarch"

keywords = ["architecture", "test"]
classifiers = [
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.8",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Testing",
    "Topic :: Software Development :: Testing :: Unit",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/zyskarch/pytestarch/issues"

[tool.poetry.dependencies]
python = "^3.8"
networkx = "^2.8.6"
matplotlib = "^3.5.3"

[tool.poetry.dev-dependencies]
black = "^22.6.0"
flake8 = "^5.0.3"
isort = "^5.10.1"
mkdocs = "^1.3.1"
mkdocstrings-python = "^0.7.1"
mkdocs-material = "^8.3.9"
nox = "^2022.8.7"
pre-commit = "^2.20.0"
pytest = "^7.1.2"
coverage = "^6.4.4"
mike = "^1.1.2"
bandit = "^1.7.4"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
sourcepath = "src"

[tool.isort]
profile = "black"

