[tool.poetry]
name = "PyTestArch"
version = "1.3.1"
description = "Test framework for software architecture based on imports between modules"
authors = ["zyskarch <zyskarch@gmail.com>"]
maintainers = ["zyskarch <zyskarch@gmail.com>"]
readme = "README.md"
license = "Apache-2.0"
documentation = "https://zyskarch.github.io/pytestarch/"
repository = "https://github.com/zyskarch/pytestarch"

keywords = ["architecture", "test"]
classifiers = [
    "Programming Language :: Python :: 3.11",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.8",
    "License :: OSI Approved :: Apache Software License",
    "Operating System :: OS Independent",
    "Intended Audience :: Developers",
    "Topic :: Software Development :: Testing",
    "Topic :: Software Development :: Testing :: Unit",
]

[tool.poetry.urls]
"Bug Tracker" = "https://github.com/zyskarch/pytestarch/issues"

[tool.poetry.dependencies]
python = "^3.8"
networkx = "^3.0"
matplotlib = "^3.5.3"

[tool.poetry.dev-dependencies]
mkdocs = "^1.3.1"
mkdocstrings-python = "^0.8.2"
mkdocs-material = "^9.0.4"
nox = "^2022.8.7"
pre-commit = "^2.20.0"
pytest = "^7.1.2"
coverage = "^7.0.5"
mike = "^1.1.2"

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"

[tool.pytest.ini_options]
sourcepath = "src"

[tool.isort]
profile = "black"
extend_skip = ["src/pytestarch/__init__.py"]
add_imports = ["from __future__ import annotations"]

[tool.bandit]
[tool.bandit.assert_used]
skips = ["*/test_*.py"]